body {
  margin: 0;
  overflow: hidden;
  background: #0170c1
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.container {
  margin: 8px;
}

.container > * {
  margin: 0 4px;
}

input[type=button] {
  width: 100px;
}
